<h2 mat-dialog-title>Modifier le mot de passe</h2>
<mat-dialog-content>
  <!-- Ancien mot de passe -->
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Ancien mot de passe</mat-label>
    <input matInput [(ngModel)]="oldPassword" type="password" required />
    <mat-error *ngIf="oldPassword && !isOldPasswordValid()">Mot de passe incorrect</mat-error>
  </mat-form-field>

  <!-- Nouveau mot de passe -->
  <mat-form-field appearance="outline" class="w-100 m-t-8">
    <mat-label>Nouveau mot de passe</mat-label>
    <input matInput [(ngModel)]="newPassword" type="password" [pattern]="passwordPattern" required />

    <mat-error *ngIf="newPassword && !hasUpperCase()">Majuscule obligatoire</mat-error>
    <mat-error *ngIf="newPassword && !hasNumber()">Un chiffre obligatoire</mat-error>
    <mat-error *ngIf="newPassword && !hasSpecialChar()">Manque de caractère spécial</mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="m-t-16">
    <button mat-stroked-button color="warn" (click)="onCancel()">Annuler</button>
    <button mat-flat-button color="primary" class="m-r-8" (click)="onSubmit()" [disabled]="!isFormValid()">Enregistrer</button>
  </div>
</mat-dialog-actions>
