<mat-toolbar class="topbar">

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <button
    mat-fab
    extended
    color="inherit"
    [matMenuTriggerFor]="profilemenu"
    aria-label="Notifications"
    class="d-flex justify-content-center profile-btn-dd"
  >
    <img
      src="/assets/images/profile/user-1.jpg"
      class="rounded-circle object-cover icon-35 profile-dd"
      width="35"
    />
  </button>
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    <!-- Menu item for profile -->
    <button mat-menu-item [routerLink]="['/ui-components/Profile']">
      <mat-icon class="d-flex align-items-center">
        <i
          data-icon="solar:shield-user-line-duotone"
          class="iconify icon-22"
        ></i>
      </mat-icon>
      Mon profile
    </button>

    <button *ngIf="role === 'SuperAdmin'" mat-menu-item [routerLink]="['/ui-components/gerer-comptes']">
      <mat-icon class="d-flex align-items-center">
        <i data-icon="solar:user-id-line-duotone" class="iconify icon-22"></i>
      </mat-icon>
      Gérer les comptes
    </button>
    
    <div class="p-x-12 m-t-12">
      <a
        (click)="logout()"
        [routerLink]="['/authentication/login']"
        mat-stroked-button
        color="primary"
        class="w-100"
        >Logout</a
      >
    </div>
  </mat-menu>
</mat-toolbar>
